.heart {
    padding: 0.5rem;
}

.heart-icon { 
    font-size: 1.7em;
    cursor: pointer;
    transform: scale(0.75, 0.85);
    &__nobg {
        position: absolute;
        z-index:2;
        color: $dark-grey;
        opacity:1;
        transition: opacity 1s ease-in-out;
        &:hover {
            opacity:0;
        }
    }
    &__nobg:active + &__bg::after, &__nobg:hover + &__bg::after {
        transform: translateY(-100%) rotate(500deg);
    }
    &__bg {
        position: relative;
        z-index:1;
        background: linear-gradient(45deg, $color-secondary, $color-primary);
        -webkit-background-clip: text; // L'arrière-plan est limité (rogné) au texte en premier plan.
        background-clip: text;
        color: transparent;   
        overflow: hidden;       
        &::after {
            content: "";
            z-index:-1;
            position: absolute;
            bottom: -50%;
            left: -50%;
            height: 200%;
            width: 200%;
            background: white;
            border-radius: 25%;
            transition: transform 1s ease-out;
        }
    } 
}
