/* Fonts Shrikhand & Roboto */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;900&display=swap");

body {
    font-family: "roboto", sans-serif;
    margin: 0;
  }

a {
    text-decoration: none;
  }

p {
  font-weight: 300;
}
.header {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.header i {
  position: absolute;
  top: 1.2rem;
  left: 1.5rem;
  font-size: 1.3rem; 
}

// Secteur
.search {
  @include flexbox(row, center, unset, unset);
  background-color: $mid-grey;
  padding: 10px; 
  border-top: 1px solid $dark-grey;
  &__input {
    background-color: $mid-grey;
    border: none;
    margin-left: 10px;
    width: 120px;
    height: 25px;
    font-size: 0.9rem;
    font-weight: 600;
    &::placeholder {
      opacity: 1;
      color: $dark-grey; 
    }
  }
}

// Explorer nos restaurants
.explore {
  background-color: $light-grey;
  text-align: center;
  padding: 2rem;
  & h2 {
    margin: 0;
  }
  & p {
    margin: 1.5rem 0;
  }
  & .button {
    border-radius: 2rem;
    border: unset;
    color: black;
    background-color: #ffffff;
    padding: 1rem 1.25rem; 
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  }
}



.functioning {
  padding: 2rem;
}

.functioning__cards {
  list-style: none;
  counter-reset: compteListe; /* initialisation du compteur compteListe à 0 */
  padding: 0;
  margin: 0;
}

.functioning__li::before {
  counter-increment: compteListe; 
  content: counter(compteListe) " "; /* affichage compteur compteListe de functioning__cards */
  background: #9356DC;
  color: white;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: absolute;
  left: 40px;
  height: 1.5rem;
  width: 1.5rem;
}

.functioning__li {
  padding: 1.4rem;
  margin: 1.5rem 0 1.5rem 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.5rem;
  background-color: #f7f7f7;
  /*display: flex;
  position: relative;*/
}

.functioning__li:hover {
  background-color: #f3eefe;
}

.functioning__text, .functioning__li i {
  margin: 0.25rem 0.5rem 0;
}

.functioning__text {
  font-weight: 500;
}
.restaurants {
  background-color: #f7f7f7;
  padding: 2rem;
}

.restaurants__cards {
  display: flex;
  flex-direction: column;
}

.restaurant__card {
  height: 345px;
  border-radius: 20px;
  margin: 1.5rem 0; 
  display: block; 
  text-decoration: none;
  color: black;
  background-color: white;
  box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.2);
}

.restaurant__card img {
  width: 100%;
  height: 250px;
  border-radius: 20px 20px 0 0; 
  object-fit: cover;
}

.restaurant__card__new {
  display: flex;
  flex-direction: row;
  background-color: #99e2d0;
  color: #008766;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  /* top: 1rem; */
  right: 3rem; 
  font-weight: 500;
}

.restaurant__card__description {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.restaurant__card__description i {
  margin: 2rem;
}

.restaurant__card__description i:hover {
  cursor: pointer;
  color: #9356DC;
}

.restaurant__card__content h3, .restaurant__card__content p {
  margin: 0.5rem;
}

.menu__container img {
  width: 100%;
  height: 250px;
  object-fit: cover;

}
.footer {
  color: #ffffff;
  background-color: #353535;
  padding: 0.5rem 1rem 1.5rem 1.5rem;
}

.footer h3 {
  font-family: "Shrikhand", cursive;
  color: #ffffff; 
  margin-bottom: 0.65rem; 
  letter-spacing: 0.05rem; 
}

.footer__link {
  color: #ffffff;
  margin-bottom: 0.45rem;
}

.footer__li {
  margin-bottom: 0.4rem;
}

.footer__li i {
  margin-right: 0.75rem;
  font-size: x-small; 
  width: 10px;
}

.footer__ul {
  list-style: none;
  padding-left: 0;
}

.footer__link:hover {
  text-decoration: underline;
}
